svg {
    width: 100px;
    /*outline: 1px blue solid;*/
    display: block;
    margin: auto;
}

circle {
    fill: #fff;
    animation: flame 2s ease-out infinite;
    transform: scale(1.8, 2.2) translateX(-20.5px) translateY(-19px);
}

#ci2 {
    animation-delay: -.5s;
}

#ci3 {
    animation-delay: -1s;
}

#ci4 {
    animation-delay: -1.5s;
}

@keyframes flame {
    from {
        r: 1px;
        opacity: .8;
    }

    to {
        r: 28px;
        opacity: 0;
    }
}
