@page "/"
@using System.ComponentModel;
@implements IDisposable
@inject Heater Heater

@code {
    protected override void OnInitialized()
    {
        Heater.PropertyChanged += StateChangedHandler;
    }

    public void Dispose()
    {
        Heater.PropertyChanged -= StateChangedHandler;
    }

    private void StateChangedHandler(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}

<PageTitle>Index</PageTitle>

<MudGrid>
    <MudItem xs="12">
        <FlameAnimation IsOn=@(Heater.Mode != HeaterMode.Off) />

        <InputRadioGroup @bind-Value="@Heater.Mode">
            @foreach (var mode in new[]{ HeaterMode.Schedule, HeaterMode.Override, HeaterMode.Off })
            {
                <InputRadio class="btn-check" id=@mode Value="mode" />
                <label class="btn btn-outline-primary" for="@mode">@mode</label>
            }
        </InputRadioGroup>
    </MudItem>

    <HeaterLevelEditor />
</MudGrid>