.schedule {
    width: 100%;
}

.schedule__row {
    display: flex;
    width: 100%;
    height: 50px;
}

.schedule__row--header {
    background: #0a3444;
}

.schedule__row--body {
    position: relative;
    background-color: #ffffff;
}

.schedule__cell {
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    color: #0a3444;
}

.schedule__cell--edge {
    flex-grow: 0;
    flex-basis: 30px;
}

.schedule__row--header .schedule__cell {
    color: white;
    border: 0;
}

.schedule__cell-content {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
}

.schedule__event-container {
    position: absolute;
    left: 30px;
    right: 30px;
}

.schedule__event {
    position: absolute;
    background-color: #2ecaac;
    border-radius: 60px;
    z-index: 0;
    top: 5px;
    height: 40px;
    z-index: 1;
}
